* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

/* section_1 */
.section_1 {
    width: 1700px;
    height: 922px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding-top: 35px;
    justify-content: center;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 28px;
}


.box_1 {
    position: relative;
    width: 752px;
    height: 852px;
    background: linear-gradient(to bottom, #DDD4C500, #8E887E);
    border-radius: 20px;
}

.box_1_text_1 {
    position: absolute;
    top: 6%;
    left: 4%;
    font-size: 15px;
    color: #a3a3a3;
    font-weight: 600;
    letter-spacing: 0px;
}

.box_1_image_1 {
    width: 88%;
    position: absolute;
    top: 210px;
    left: 8%;
}

.box_1_text_2 {
    position: absolute;
    top: 75%;
    left: 4%;
    font-size: 37px;
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: 2px;
}

.box_1_text_3 {
    position: absolute;
    top: 80%;
    left: 4%;
    font-size: 139px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 2px;
}

.box_2 {
    width: 782px;
    height: 371px;
    background-color: #F7F7F8;
    border-radius: 20px;
}

.box_2_text_1 {
    width: 340px;
    font-size: 31px;
    color: #1E1E1E;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    line-height: 120%;
    padding-top: 45px;
    margin: 0 auto;
    letter-spacing: -1px;
}

.box_2_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}

.box_2_container_1 {
    text-align: center;
    padding: 0 79px;
    border-right: 1px solid #D9D9D9;
}

.box_2_container_1:last-child {
    border-right: none;
}

.box_2_svg {
    width: 48px;
    height: 48px;
}

.box_2_text_2 {
    width: 100px;
    font-size: 17px;
    color: #1E1E1E;
    font-weight: 600;
    line-height: 160%;
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}

.box_3 {
    width: 782px;
    height: 454px;
    background-image: url('./image/image1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_3_button {
    width: 124px;
    height: 46px;
    border-radius: 56px;
    background-color: #827C6C;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
}

@media (max-width: 768px) {
    .section_1 {
        width: 100%;
        flex-direction: column;
        gap: 24px;
        height: auto;
        padding: 20px 16px;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .box_1,
    .box_2,
    .box_3 {
        width: 100%;
        height: auto;
    }

    .box_1 {
        height: 361px;
        background: linear-gradient(to bottom, #9FA9A000, #AEB5AA);
    }

    .box_2 {
        height: 361px;
    }

    .box_3 {
        height: 243px;
        background-image: url('./image/image3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .box_1_text_2 {
        font-size: 25px;
        top: 60%;
    }

    .box_1_text_3 {
        font-size: 80px;
        top: 70%;
    }

    .box_1_image_1 {
        width: 286px;
        top: 84px;
        left: 8%;
    }

    .box_2_text_1 {
        width: 80%;
        font-size: 22px;
        font-weight: 600;
        padding-top: 20px;
    }

    .box_2_container {
        flex-direction: column;
        gap: 17px;
        padding: 20px 15px;

    }

    .box_2_container_1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
        padding: 0;
        width: 275px;
        border-top: 1px solid #D9D9D9;
        padding-top: 11px;
    }

    .box_2_text_2 {
        text-align: left;
        padding: 0;
        padding-left: 10px;
    }

    .box_3_button {
        background-color: #0F61FF;
        margin-top: 31px;
    }
}

/* section_2 */

.section_2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 76px;
    padding-left: 50px;
}

.box_4 {
    width: 564px;
    height: 851px;
    padding: 34px;
}

.box_4_title_1 {
    font-size: 16px;
    color: #402C22;
    font-weight: 500;
    margin-bottom: 20px;
}

.box_4_title_2 {
    font-size: 53px;
    color: #402C22;
    font-weight: 400;
    margin-bottom: 20px;
}

.box_4_container {
    width: 452px;
    border-bottom: 1px solid #D9D5D3;
    padding: 10px 0;
}

.dropdown_container {
    width: 452px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
}

.dropdown_item_title {
    font-size: 22px;
    color: #402C22;
    font-weight: 400;
}

.dropdown_icon {
    width: 14px;
    height: 14px;
    font-size: 20px;
    padding-right: 5px;
    opacity: 0.6;
}

.dropdown_content {
    width: 380px;
    height: 69px;
    margin-top: 10px;
    font-size: 17px;
    color: #402C22;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 15px;
}

.box_5 {
    width: 764px;
    height: 851px;
}

.box_5_image_1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_6 {
    width: 553px;
    height: 551px;
}

.box_6_image_1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {

    .section_2 {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 20px 16px;
        height: 1162px;
        margin-top: 15px;
    }

    .box_4,
    .box_4_container {
        display: contents;
    }

    .box_4_title_1 {
        font-size: 14px;
        order: 1;
        margin-bottom: 0px;
    }

    .box_4_title_2 {
        font-size: 30px;
        width: 100%;
        order: 2;
        margin-bottom: 0px;
    }

    .box_5 {
        width: 100%;
        height: 375px;
        order: 3;
    }

    .box_6 {
        width: 100%;
        height: 248px;
        order: 4;
    }

    .box_6_image_1 {
        width: 249px;
    }

    .dropdown_container {
        margin-top: 5px;
        border-bottom: 1px solid #D9D5D3;
        padding-bottom: 40px;
    }

    .dropdown_content {
        margin-top: -16px;
        line-height: 22px;
    }

    .dropdown_container,
    .dropdown_content {
        width: 100%;
        order: 5;
    }
}

/* section_3 */
.section_3 {
    width: 1920px;
    height: 1214px;
    background-color: #FFF9F5;
    position: relative;
}

.section_3_title {
    display: flex;
    align-items: center;
    /* gap: 12px; */
    font-size: 18px;
    color: #462B20;
    font-style: italic;
    opacity: 85%;
    padding-top: 32px;
}

.section_3_title::before,
.section_3_title::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
    max-width: 720px;
    margin: 0 auto;
}

.section_3_container {
    width: 636px;
    height: 998px;
    margin: 0 auto;
    margin-top: 100px;
}

.box_7 {
    width: 622px;
    margin-top: 60px;
}

.box_7_title {
    font-size: 58px;
    color: #462B20;
    font-weight: 400;
    line-height: 61px;
    text-align: center;
    margin-top: -12px;
}

.box_7_tab {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.box_7_tab_item {
    color: #462B20;
    font-size: 15px;
    border-right: 1px solid #462b2056;
    padding: 5px 16px;
    opacity: 0.6;
}

.box_7_tab_item:first-child {
    font-weight: 600;
    opacity: 1;
}

.box_7_tab_item:last-child {
    border-right: none;
    padding-right: 0px;
}

.box_7_content {
    font-size: 17px;
    color: #462B20;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding: 20px 0px 68px 0px;
}

.box_7_line {
    margin: 0 auto;
    width: 30%;
    height: 1px;
    background-color: #F3EAE5;
}

.box_7_image1 {
    position: absolute;
    top: 210px;
    left: 113px;
    width: 183px;
    height: 257px;
}

.box_7_image2 {
    position: absolute;
    top: 646px;
    left: 169px;
    width: 253px;
    height: 363px;
}

.box_7_image3 {
    position: absolute;
    top: 168px;
    left: 1550px;
    width: 274px;
    height: 385px;
}

.box_7_image4 {
    position: absolute;
    top: 710px;
    left: 1495px;
    width: 183px;
    height: 257px;
}

@media (max-width: 768px) {
    .section_3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .box_7_title {
        font-size: 31px;
    }

    .section_3_container {
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding: 0 16px;
    }

    .box_7 {
        width: 100%;
    }

    .box_7_line {
        display: none;
    }

    .box_7_image {
        display: none;
    }

    .box_7_content {
        font-size: 13px;
        padding: 20px 0px;
    }

    .box_7_tab {
        justify-content: flex-start;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .box_7_tab_item {
        flex: 0 0 auto;
    }
}